@import '../../../assets/sass/variables';
:host {
    width: 100%;
    text-align: center;
}
.verification-text {
    max-width: 370px;
    text-align: center;
    margin: 15px auto;
    font-size: 14px;
    line-height: 17px;
   }

.forgot-password-form {
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.page-title {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 24px;
    color: $base-blue;
    letter-spacing: -0.01px;
}


.form-group {
    text-align: left;
    margin-bottom: 22px;

    label {
        line-height: 19px;
        margin-bottom: 9px;
    }

    .form-control {
        font-family: 'Rubik-Medium';
        font-size: 18px;
        line-height: 22px;
        color: $black;
        letter-spacing: -0.01px;
    }
}

.btn-success {
    margin-top: 20px;
    letter-spacing: -0.18px;
}