.test {
    color: #140076;
    font-size: 14px;
    font-family: 'Rubik-Medium',sans-serif;
}

.long-description {
    font-size: 14px;
    font-family: 'Rubik-Regular',sans-serif;
    color: #000000;

}

.long-description-wrapper {
    padding-left: 35px;
    padding-right: 35px;
}