@import '../../../assets/sass/variables';

:host {
    width: 100%;
    text-align: center;
}

.set-password-form {
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.verification-text {
    max-width: 370px;
    text-align: center;
    margin: 15px auto;
    font-size: 14px;
    line-height: 17px;
}

.page-title {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 24px;
    color: $base-blue;
    letter-spacing: -0.01px;
}

.validation-container {
    text-align: left;
    margin-bottom: 25px;
    p {
        margin-bottom: 5px;
        color: $black;
        font-family: 'Rubik-Regular';
    }
}

.bullet {
    background: url("../../../assets/images/bullet-icon.svg") no-repeat;
    display: inline-block;
    min-width: 12px;
    min-height: 10px;
    margin-right: 10px;
}

.check-icon {
    background: url("../../../assets/images/check-icon.svg") no-repeat;
    display: inline-block;
}

.error-icon {
    background: url("../../../assets/images/error-icon.svg") no-repeat;
    display: inline-block;
}

input .ng-invalid .ng-touched {
    border: 1px solid red;
}

.text-danger {
    color: $error-red;
}

.form-group {
    text-align: left;
    margin-bottom: 22px;

    label {
        line-height: 19px;
        margin-bottom: 9px;
    }

    .form-control {
        font-family: 'Rubik-Medium';
        font-size: 18px;
        line-height: 22px;
        color: $black;
        letter-spacing: -0.01px;
    }
}

.btn-success {
    margin-top: 20px;
}