<h1 id="SetPassword__PageTitle" class="page-title">Set Password</h1>
<div id="SetPassword__PasswordForm" [formGroup]="setPassWordForm" class="set-password-form">
    <div id="SetPassword__FormGroup1" class="form-group">
        <div id="SetPassword__ValidationContainer" class="validation-container">
            <label id="SetPassword__Text1">Password must meet the following requirements:</label>
            <div *ngFor="let password of passwordValidations; let i = index;" id="SetPassword__Validations_{{i}}">
                <p>
                    <span class="bullet"
                        [ngClass]="(isFieldFocused && (setPassWordForm.controls.password.hasError('required')|| setPassWordForm.controls['password'].hasError(password.validationName)))? 'error-icon' :
                                (isFieldFocused && !setPassWordForm.controls['password'].hasError(password.validationName))? 'check-icon':'bullet'"></span>
                    {{ password.errorMessage }}
                </p>
            </div>
        </div>
        <label id="SetPassword__Text2" for="newPassword">New Password </label>
        <input type="password" class="form-control" formControlName="password" (focus)="onPasswordFocus()"
            [ngClass]="{ 'is-invalid': setPassWordForm.controls.password.touched && setPassWordForm.controls.password.hasError('required')}"
            fnValidateOnBlur [validateFormControl]="setPassWordForm.controls.password" maxlength="10" minlength="8"
            id="newPassword" placeholder="New Password">
        <div id="SetPassword__passwordRequired" class="invalid-feedback"
            *ngIf="setPassWordForm.controls.password.touched && setPassWordForm.controls.password.hasError('required')">
            This field cannot be blank
        </div>
    </div>

    <div id="SetPassword__FormGroup2" class="form-group">
        <label id="SetPassword__Text3" for="setPassword">Confirm Password </label>
        <input type="password" class="form-control" formControlName="confirmPassword" id="confimrPassword"
            [ngClass]="{ 'is-invalid': setPassWordForm.controls.confirmPassword.touched && setPassWordForm.controls.confirmPassword.hasError('required')}"
            fnValidateOnBlur [validateFormControl]="setPassWordForm.controls.confirmPassword" maxlength="10"
            minlength="8" placeholder="Confirm Password">
        <label id="SetPassword__ErrorMessage" class="text-danger"
            *ngIf="(!setPassWordForm.controls['password'].errors && setPassWordForm.controls.password.touched) && setPassWordForm.controls.confirmPassword.hasError('noPassswordMatch') && setPassWordForm.controls.confirmPassword.touched">
            Password entered by you does not match, Please re enter the password
        </label>
        <div id="SetPassword__confirmPasswordRequired" class="invalid-feedback"
            *ngIf="setPassWordForm.controls.confirmPassword.touched && setPassWordForm.controls.confirmPassword.hasError('required')">
            This field cannot be blank
        </div>
    </div>
    <button id="SetPassword__Action" class="btn btn-success w-100" type="button" (click)="onPasswordSubmit()"
        [disabled]="!setPassWordForm.valid">Set
        Password</button>
</div>