<form action="" [formGroup]="verifyRegister" name="createAccountForm" class="create-account-form">
    <fn-verify-email [verifyEmail]="verifyRegister" [title]="title" (verifyEmailService)="verifyEmail($event)"
        *ngIf="currentStep === 1"></fn-verify-email>
    <fn-verify-code [verifyCode]="verifyRegister" [verifyCodeDetail]="codeDetails"
        (verifyCodeService)="verifyCode($event)" (verifyResendService)="resendCode($event)" *ngIf="currentStep === 2">
    </fn-verify-code>
    <fn-set-password [setPassWordForm]="verifyRegister" (setPasswordHandle)="onSetPassword($event)" *ngIf="currentStep === 3"></fn-set-password>
</form>
<p class="login-link">Already Registered?
    <a href="#" [routerLink]="['/login']" class="link">Login</a>
</p>