/** base color **/

$base-blue: #140076;
$secondary-blue: #174275;
$base-green: #5BB670;
$error-red: #de0000;
$info-blue: #5794D9;
$warn-orange: #FFA600;
$success-green: #59944E;
$white: #ffffff;
$black: #000000;


/*Form Color*/

$field-grey: #AAA7A7;
$label-grey: #6C6A6A;